<!DOCTYPE html>
<html lang="en" data-ng-app="tunely">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tunely</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>



    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to tunely</h1>
        <p>Your music binder!</p>
      </div>
    </div>

    <!-- Here we declare the controller that will be in charge of the
        logic for this portion of the HTML. The 'as' part of the statement
        means that the controller's alias within the HTML will be 
        albumsIndexCtrl-->
    <div class="container" data-ng-controller="AlbumsIndexController as albumsIndexCtrl">
      <input type="text" class="form-control" placeholder="New album name" data-ng-model="albumsIndexCtrl.newAlbum.name">
      <input type="text" class="form-control" placeholder="New album artist" data-ng-model="albumsIndexCtrl.newAlbum.artistName">
      <p><b>albumsIndexCtrl.newAlbum:</b> {{albumsIndexCtrl.newAlbum}}</p>
      <input type="text" class="form-control" data-ng-model="searchText" placeholder="Search Albums">
      <div data-ng-repeat="album in albumsIndexCtrl.albums | orderBy: 'name' | filter: searchText" class="row">

        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">

            <!-- begin album internal row -->
              <div class="row">
                <div class="col-md-3 col-xs-12 thumbnail">
                  <img src="images/800x800.png" alt="album image">
                </div>

                <div class="col-md-9 col-xs-12">
                  <ul class="list-group form-inline">
                    <li class="list-group-item">
                      <h4 class="inline-header">Album Name:</h4>
                      <span>{{album.name}}</span>
                    </li>

                    <li class="list-group-item">
                      <h4 class="inline-header">Artist Name:</h4>
                      <span>{{album.artistName}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
