<section class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>Add New Album</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Album Name</label>
            <div class="col-md-4">
            <input id="name" data-ng-model="vm.newAlbum.name" type="text" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="artistName">Artist Name</label>
            <div class="col-md-4">
            <input data-ng-model="vm.newAlbum.artistName" type="text" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="releaseDate">Release Date</label>
            <div class="col-md-4">
            <input id="releaseDate" data-ng-model="vm.newAlbum.releaseDate" type="text" class="form-control input-md">
            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="genres">Genres (separated by commas)</label>
            <div class="col-md-4">
              <textarea class="form-control" data-ng-model="vm.newAlbum.genres" id="genres"></textarea>
            </div>
          </div>


          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Save Album</label>
            <div class="col-md-4">
              <button id="singlebutton" data-ng-click="vm.createAlbum()" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>



<section class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Albums</h2>
    </div>
  </div>
  <!-- albums! -->
  <div id='albums'>
    <!-- one album -->
    <div data-ng-repeat="album in vm.albums" class="row album">

      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">


          <!-- begin album internal row -->
            <div class='row'>
              <div class="col-md-3 col-xs-12 thumbnail album-art">
                <img src="images/800x800.png" alt="album image">
              </div>

              <div class="col-md-9 col-xs-12">
                <ul class="list-group form-inline">
                  <li class="list-group-item">
                    <h4 class='inline-header'>Album Name:</h4>
                    <span class='album-name' data-ng-hide="editing"><a data-ng-href="{{album._id}}">{{album.name}}</a></span>
                    <input data-ng-show="editing" data-ng-model="album.name" type="text" class="form-control input-md">
                  </li>

                  <li class="list-group-item">
                    <h4 class='inline-header'>Artist Name:</h4>
                    <span class='artist-name' data-ng-hide="editing">{{album.artistName}}</span>
                    <input data-ng-show="editing" data-ng-model="album.artistName" type="text" class="form-control input-md">
                  </li>

                  <li class="list-group-item">
                    <h4 class='inline-header'>Released date:</h4>
                    <span class='album-releaseDate' data-ng-hide="editing">{{album.releaseDate}}</span>
                    <input data-ng-show="editing" data-ng-model="album.releaseDate" type="text" class="form-control input-md">
                  </li>


                  <li class="list-group-item">
                    <h4 class="inline-header">Songs:</h4>
                    <span data-ng-repeat="song in album.songs">&ndash; ({{song.trackNumber}}) {{song.name}} &ndash;</span>
                  </li>

                </ul>
              </div>

            </div>
            <!-- end of album internal row -->

            <div class='panel-footer'>
              <div class='panel-footer'>
                <button class='btn btn-danger delete-album' data-ng-click="vm.deleteAlbum(album._id)">Delete Album</button>
                <button class='btn btn-info edit-album' data-ng-hide="editing" data-ng-click="editing = true">Edit Album</button>
                <button class='btn btn-success save-album' data-ng-show="editing" data-ng-click="vm.editAlbum(album); editing = false">Save Changes</button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end one album -->
  </div>
</section>
